/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
/.idea
.idea
/public/previews-content/*
/public/skins-content/*
/public/js/blur.min.js
/app/config/*
app/start/global.php
